.fullscreen-container {
    /* clip-path: polygon(100% 0, 0 0, 0 100%, 100% 71%); */
    
    background-color: rgb(210, 223, 210);
    
}

.container-main {
    display: flex;
    flex-direction: column;
    padding: 40px;
    z-index: 1;
}

h1 {
    font-size: 1.5em;
}

section {
    margin-bottom: 20px;
}

blockquote {
    line-height: 1.8em;
    margin: 1.5em 0 1.5em 0;
}
.paypal-button{
    width: 120px;
    height: 26px;
    border: 0;
}
@media only screen and (max-width: 600px) {
    .fullscreen-container {
        padding-bottom: 150px;
    }
}

a {
    text-decoration: none;
    color: #000;
    background-color: rgba(255, 255, 255, 0);
}
input {
    height: 3rem;
    width: 30rem;
    border: 2px solid rgb(158, 156, 156);
    border-radius: 1rem;
    font-size: 1.4rem;
    padding: 0 1.2rem;
    font-weight: bold;
    margin: 5px;
  }
  
  input:focus {
    outline: none;
    border-color: #ffd270;
    font-weight: bold;
  }
  
  input:invalid {
    border: 2px solid rgb(158, 156, 156);
  }

  button {
    height: 3rem;
    width: 6rem;
    border: 0;
    color: #fff;
    font-size: 1.2rem;
    padding: 2;
    border-radius: 9999px;
    font-weight: 200;
    margin: 5px;
    background-color: hsla(138, 25%, 39%, 1);

  }
  
  button:hover {
    background-color: #6f9283;
    color:#fff;
  }
  

  /* p-3 px-6 pt-2 text-white bg-viridian rounded-full baseline hover:bg-cambridgeBlue */