.fullscreen-container {
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 71%);
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(210, 223, 210);
    z-index: 1;  
  }
  .container-main {
      display: flex;
      flex-direction: column;
      padding: 40px;      
  }
  h1 {
      font-size: 1.5em;
  }
  section {
      margin-bottom: 20px;
}
blockquote {
    line-height: 1.8em;
    margin: 1.5em 0 1.5em 0;
}