@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,900;1,100;1,500;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* :root {
    
  } */
header {
  height: 10vh;
  z-index: 1;
}

footer {
  position: fixed;
  bottom: 0;
  height: 60px;
  border-color: rgba(255, 255, 255, 0);
  z-index: 1;
  width: 100vw
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media (max-width: 40rem) {
  input {
    width: 70vw;
  }
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: rgb(6, 43, 146);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  font-weight: bold;  
  gap: 1em;
  height: 100%;
  width: 100%;  
}